*, 
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
    font-size: 62.5%;
    
    @include responsive(tablet-landscape) {
      font-size: 52%;
    }

    @include responsive(tablet-portrait) {
      font-size: 45%;
    }
    @include responsive(tablet-portrait-ios) {
      font-size: 40%;
    }
    
    @include responsive(phone) {
      font-size: 30%;
    }

}

body {
    box-sizing: border-box;
}