body {
    font-family: 'Montserrat', sans-serif;    
}

.home {    
    &__header {
        position: relative;       
        white-space: pre-wrap;     
        font-family: 'Paytone One', sans-serif;
        line-height: 12rem;
        
        & > span {
            display: inline-block;       
        }

        & span:first-child, span:last-child {
            line-height: 0;
            font-size: 10rem;
            color: rgba($color-white, .9);
        }

        & span:first-child {
            position: absolute;
            top: -1rem;
            left: 8rem;
        }

        & span:nth-child(2), span:nth-child(3) {        
            font-size: 16rem;
            letter-spacing: -.3rem;
            color: $color-secondary;        
        }
        
        & span:nth-child(2) {
            display: block;
        }
    }    
}
