body {
    font-family: 'Montserrat', sans-serif;    
}

.home {    
    &__header {
        position: relative;       
        white-space: pre-wrap;     
        font-family: 'Paytone One', sans-serif;
        line-height: 12rem;

        @include responsive(tablet-portrait-ios) {
            line-height: 8rem;           
        }
        
        & > span {
            display: inline-block;       
        }

        & span:first-child, span:last-child {
            line-height: 0;
            font-size: 10rem;
            color: rgba($color-white, .9);

            @include responsive(tablet-portrait) {
                font-size: 7rem;
            }

            @include responsive(tablet-portrait-ios) {
                letter-spacing: -.4rem;
            }

            @include responsive(phone) {
                font-size: 6rem;
            }

            @include responsive(phone-ios) {
                letter-spacing: -.1rem;
            }
            
        }

        & span:first-child {
            position: absolute;
            top: -1rem;
            left: 8rem;

            @include responsive(tablet-portrait) {
                top: 1rem;
                left: 10rem;
            }

            @include responsive(tablet-portrait-ios) {
                font-size: 10rem;
                top: .4rem;
                left: 9.5rem;
            }

            @include responsive(phone) {
                font-size: 8rem;
                top: 0;
                left: 8rem;
            }

            @include responsive(phone-ios) {
                font-size: 7rem;
                top: 0;
                left: 4.5rem;
            }

            @include responsive(phone-android) {
                left: 8rem;
              }

              @include responsive(phone-landscape-android) {
                top: 0;
                left: 12rem;
              }
        }

        & span:last-child {

            @include responsive(tablet-portrait) {
                font-size: 5rem;
            }

            @include responsive(tablet-portrait-ios) {
                font-size: 7.5rem;
            }

            @include responsive(phone) {
                font-size: 5rem;
            }
        }

        & span:nth-child(2), span:nth-child(3) {        
            font-size: 16rem;
            letter-spacing: -.3rem;
            color: $color-secondary;

            @include responsive(tablet-portrait) {
                font-size: 15rem;
                letter-spacing: -.4rem;
            }
            
            @include responsive(tablet-portrait-ios) {
                font-size: 20rem;
                letter-spacing: -.8rem;
                line-height: 10rem;
            }
         
            @include responsive(phone) {
                font-size: 15rem;
                line-height: 11rem;
                letter-spacing: -.7rem;
            }

            @include responsive(phone-ios) {
                font-size: 14rem;
                line-height: 5.6rem;
            }
            
            @include responsive(phone-android) {
                line-height: 11rem;
              }

              @include responsive(phone-landscape-android) {
                line-height: 15rem;
              }
        }
        
        & span:nth-child(2) {
            display: block;
        }
    }    
}

.developer {    
    &__title {
        position: absolute;
        top: 45%;
        right: 15%;       
        font-family: 'Paytone One', sans-serif;

        @include responsive(tablet-portrait) {
            top: 32%;
            right: 15%;
        }
        
        @include responsive(tablet-portrait-ios) {
            top: 40%;
            left: 15%;
        }
        
        @include responsive(tablet-landscape-ios) {
            left: 32%;
        }

        @include responsive(phone-ios) {
            width: 100%;
            left: 5%;
        }

        @include responsive(phone-landscape-ios) {
             top: 30%;
             left: 30%;   
        }

        @include responsive(phone-android) { 
            width: 90%;        
            left: 5%;
        }

        &__name {
            position: absolute;
            top: -35%;
            left: 12%;
            font-size: 6rem;
            color: rgba($color-white, .9);

            @include responsive(tablet-portrait) {
                top: -25%;
                left: 22%;
                font-size: 5rem;
            }            
            
            @include responsive(tablet-portrait-ios) {
                left: 18%;
                font-size: 6.5rem;
            }

            @include responsive(tablet-landscape-ios) {
                left: 12%;
                font-size: 7rem;
            }

            @include responsive(phone-ios) {
                left: 15%;
                font-size: 6rem;
            }

            @include responsive(phone-landscape-ios) {
                font-size: 5rem;
                left: 8%;
            }
            
        }
        &__front {
            font-size: 12rem;
            color: $color-secondary;

            @include responsive(tablet-portrait) {
               font-size: 14rem;
            }

            @include responsive(tablet-portrait-ios) {
                font-size: 15rem;
            }

            @include responsive(tablet-landscape-ios) {
                font-size: 14rem;
            }

            @include responsive(phone-ios) {
                font-size: 14rem;
            }

            @include responsive(phone-landscape-ios) {
                font-size: 12rem;
            }

            @include responsive(phone-android){
                font-size: 14rem;
            }

        }
        &__dev {
            position: absolute;
            bottom: -20%;
            left: .4%;
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            color: rgba($color-white, .9);
            text-transform: uppercase;
            font-size: 5.5rem;
            letter-spacing: 3.7rem;

            @include responsive(tablet-portrait) {
                font-size: 6.5rem;
                font-weight: 300;
                letter-spacing: 4.2rem;
            }

            @include responsive(tablet-portrait-ios) {
                font-size: 6.2rem;
            }
            
            @include responsive(tablet-landscape-ios) {
                font-size: 6.3rem;
            }

            @include responsive(phone-ios) {
                font-size: 5.5rem;
                letter-spacing: 3rem;
            }

            @include responsive(phone-landscape-ios) {
                font-size: 4.5rem;
                letter-spacing: 2.8rem;
            }

            @include responsive(phone-android) {
                font-size: 6.5rem;
                letter-spacing: 4.3rem;
            }
            
        }
    }    
}
