.flex {      
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: flex-end;
    flex-direction: column;
    
    @include responsive(phone-android) {
        padding-bottom: 30rem;
      }

    
      &-gallery {
        display: grid;        
        grid-template-rows: 8vh 67vh 25vh;
        justify-items: center;

      }
   
}
