@mixin fade {
    height: 100vh;
    width: 100vw;    
    position: absolute;
    top: 0;   
    right: 0;
    z-index: 200;
}

@mixin btn {    
        text-decoration: none;
        text-transform: uppercase;
        padding: 1.5rem 3rem;
        font-size: 1.4rem;
        font-weight: 500;   
        border-radius: 50rem;
        border-width: 5px;
        border-style: solid;    
}

@mixin primary-btn {
    border-color: $color-white;
    background-color: $color-secondary;
    color: $color-primary;
}

@mixin secondary-btn {
    border-color: $color-primary;
    background-color: $color-secondary;
    color: $color-primary;
}

@mixin terciary-btn {
    border-color: $color-secondary;
    background-color: $color-primary;
    color: $color-secondary;
}


@mixin responsive($breakpoint) {

    @if $breakpoint == phone {
        @media (max-width: 37.5em) { @content }; 
    } //desktop and mobiles googleChrome... 

    @if $breakpoint == phone-android {
        @media (max-device-width: 37.5em) and (pointer: coarse) and (not (pointer: fine)) { @content }; 
    }

    @if $breakpoint == phone-landscape-android {
        @media (min-device-width: 37.5em) and (pointer: coarse) and (orientation: landscape) and (not (pointer: fine)) { @content }; 
    }

    @if $breakpoint == phone-ios {
        @media (max-device-width: 37.5em) and (-webkit-min-device-pixel-ratio: 1) { @content };
    }

    @if $breakpoint == phone-landscape-ios {
        @media (max-device-width: 37.5em) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) { @content };
    }  

    @if $breakpoint == tablet-portrait-ios {
        @media (max-device-width: 56.25em) and (-webkit-min-device-pixel-ratio: 1) { @content }; 
    }

    @if $breakpoint == tablet-landscape-ios {
        @media (max-device-width: 56.25em) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) { @content }; 
    }

    @if $breakpoint == tablet-portrait {
        @media (max-width: 56.25em) { @content };
    } // desktop and mobiles with googleChrome

    @if $breakpoint == tablet-landscape {
        @media (max-width: 75em) { @content }; 
    } // desktop and mobiles with googleChrome

    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) { @content };
    }

    @if $breakpoint == desktop-4-pictures {
        @media (max-width: 53.12em) { @content };
    }
}
