.home {
    position: relative;
    height: 100vh;
    height: 100dvh; 
    background-color: $color-primary;    

    &__scale {
        width: 5rem;
        height: 5rem;
        background-color: $color-secondary;
        border-radius: 100%;
        position: absolute;
        top: 25vh; 
        right: 30vw;
    }

    &__logo {        
        position: fixed;
        top: 1rem;       
        padding-right: 10rem;
        transform: translateX(-25%);        
        
        @include responsive(tablet-landscape) {
            top: 10rem;
            transform: translateX(0);
        };

        @include responsive(tablet-portrait) {
            top: 2rem;
            left: 60%;
            transform: translateX(-50%);          
        }

        
        @include responsive(tablet-portrait-ios) {
            top: 10rem;           
            left: 60%;
            transform: translateX(-50%);
        }
        
        @include responsive(tablet-landscape-ios) {
            top: 4rem;           
            left: 70%;
            transform: translateX(-50%);
        }

        @include responsive(phone) {
            top: 12rem;
            left: 55%;            
        }

        @include responsive(phone-ios) {
            top: 8rem;
            left: 60%;            
        }

        @include responsive(phone-android) {
            top: 10rem;
            left: 55%;
          }

        @include responsive(phone-landscape-ios) {
            top: 4rem;
            left: 80%;
          }

        &__background {
            position: relative;
            display: inline-block;
            width: 40rem;
            height: 40rem;
            border-radius: 50%;        
            background-color: $color-secondary;           
            
            @include responsive(phone) {
                width: 50rem;
                height: 50rem;
            }

            @include responsive(phone-ios) {
                width: 30rem;
                height: 30rem;
            }

            @include responsive(phone-android) {
                width: 45rem;
                height: 45rem;
              }
        }
        
        & > img {
            width: 100%;
            position: absolute;
            bottom: -.2rem;
            left: -5rem;           
        }        
    }

    &__header {
        align-self: center;
        
        @include responsive(phone-landscape-ios) {
            align-self: flex-start;
          }
    }
    
    &__nav {
        align-self: center;
        padding: 5rem 0 5rem 0;
        width: 40rem;
        display: flex;
        justify-content: space-around;

        @include responsive(tablet-portrait) {
            width: 50%;
            padding: 8rem 0 10rem 0;
        }

        @include responsive(tablet-portrait-ios) {           
            padding: 11rem 0 10rem 0;
        }

        @include responsive(tablet-landscape-ios) {
            padding: 5rem 0 8rem 0;
        }    

        @include responsive(phone) {
            width: 70%;
            padding: 18rem 0 18rem 0;
        }

        
        @include responsive(phone-ios) {
            width: 80%;
            padding: 8rem 0 5rem 0;
        }
        
        @include responsive(phone-android) {
            padding-top: 15rem;
          }

        @include responsive(phone-landscape-ios) {
            align-self: flex-start;
            width: 50%;
            padding: 3rem 0rem 2rem 5rem;
          }

        @include responsive(phone-landscape-android) {
            align-self: center;
            padding: 5rem 0rem 11rem 5rem;
        }

        }
}