.btn {    
    &:link,
    &:visited {
        @include btn;

        @include responsive(tablet-landscape) {
            font-size: 1.7rem;
        }
        
        @include responsive(tablet-portrait) {
            font-size: 2rem;
        }

        @include responsive(tablet-portrait-ios) {
            font-size: 2.5rem;
        }

        @include responsive(phone) {
            font-size: 3rem;
        }

        @include responsive(phone-landscape-ios) {
            font-size: 1.5rem;
        }
        
    }

    &-primary {
        @include primary-btn
    }

    &-secondary {
        @include secondary-btn
    }

    &-tertiary {
        @include terciary-btn
    }

    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    }

    &:active {
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    }
}